<!-- Calculator Body -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type = "text/css" href = "static/calcUI.css">
</head>
<div class="calc-body">

    <!-- Calculator Display Screen -->
    <div class="calc-screen">
        <!-- Calc history is the three faded numbers above the actual typed input -->

        <div id="calc-history">
            {% for lines in history %}
                <div>{{ lines }}</div>
            {% endfor %}
        </div>

        <div id="calc-operation">
            {% if wholeOp == "": %}
                <div>-</div>
            {% else: %}
                {{ wholeOp }}
            {% endif %}
        </div>
        <div id="calc-typed">
            {% if typed == "": %}
                <div>0</div>
            {% else: %}
                {{ typed }}
            {% endif %}
        </div>
    </div>
    
    <!-- Calculator Buttons -->
    <form method="post">
        <div class="calc-button-row">
            <button type="submit" name="button" class="ac" value="AC">AC</button>
            <button type="submit" name="button" class="ac" value="CH">CH</button>
            <button type="submit" name="button" class="opt" value="negate">&#43;&#47;&#8722;</button>
            <button type="submit" name="button" class="opt" value="div">&#247;</button>
            <button type="submit" name="button" value="7">7</button>
            <button type="submit" name="button" value="8">8</button>
            <button type="submit" name="button" value="9">9</button>
            <button type="submit" name="button" class="opt" value="mul">&#215;</button>
            <button type="submit" name="button" value="4">4</button>
            <button type="submit" name="button" value="5">5</button>
            <button type="submit" name="button" value="6">6</button>
            <button type="submit" name="button" class="opt" value="sub">&#8722;</button>
            <button type="submit" name="button" value="1">1</button>
            <button type="submit" name="button" value="2">2</button>
            <button type="submit" name="button" value="3">3</button>
            <button type="submit" name="button" class="opt" value="add">&#43;</button>
            <button type="submit" name="button" value="0">0</button>
            <button type="submit" name="button" value=".">.</button>
            <button type="submit" name="button" value="back">&#9003;</button>
            <button type="submit" name="button" class="opt" value="equ">&#61;</button>
        </div>
    </form>
</div>